.single {
   
   margin: 0 0px 0px 0;
   border: inset;

    	

}
#individual {
	/*background:green;*/
	

}
#name {
    float:left;
    position: fixed; top: 471px; left: 15px;
    font-size :18px;	

}
#description {
	margin-right:20%;
	margin-left:2%;
	
	float:right;
	position:fixed; top:120px; left:371px;
	width:60%;
	font-size :18px;
}
#price {
	float:left;
	position: fixed; top: 511px; left: 15px;
	font-size :18px;
	

}

