.single {
   
   margin: 0 0px 0px 0;
   border: inset;

    	

}
#individual {
    margin-top: 0px;
    
	background-image: -moz-linear-gradient(#edf7fa, #73d0f1);
	

}
#name {
    float:left;
    position: fixed; top: 501px; left: 15px;
    font-size :18px;	

}
#description {
	margin-right:20%;
	margin-left:2%;
	
	float:right;
	position:fixed; top:110px; left:371px;
	width:60%;
	font-size :18px;
}
#outcome {
	margin-right:20%;
	margin-left:2%;
	float: right;
	position:fixed; top:350px; left:371px;
	width:60%;
	font-size :18px;
}
#solutionAssociate {
	margin-right:20%;
	margin-left:2%;
	float:right;
	position:fixed; top:450px; left:371px;
	font-size :18px;
}
#price {
	float:left;
	position: fixed; top: 541px; left: 15px;
	font-size :18px;
	

}

