#package {
	background-image: -moz-linear-gradient(#edf7fa, #73d0f1);
    background-image: -webkit-linear-gradient(#edf7fa, #73d0f1);
}

.single {
   
   /*margin: 0 0px 0px 0;*/
   border: inset;

    	

}
#individual {
    margin-top: 0px;
    

	

}
#name {
    float:left;
    position: fixed; top: 551px; left: 35px;
    /*position: fixed; top: 501px; left: 15px;*/
    font-size :18px;	

}
#solutionAssociate {
	/*margin-right:20%;*/
	/*margin-left:2%;*/
	float: left;
	position: fixed; top: 511px; left: 35px;
	font-size :18px;

}
#description {
	margin-right:20%;
	margin-left:2%;
	
	float:right;
	position:fixed; top:110px; left:371px;
	width:60%;
	font-size :18px;
}
#outcome {
	margin-right:20%;
	margin-left:2%;
	float: right;
	position:fixed; top:300px; left:371px;
	width:60%;
	font-size :18px;
}

#price {
	float:left;
	position: fixed; top: 591px; left: 35px;
	font-size :18px;
	

}
#cart  {
	float:  right;
	margin-right: 5%;
}
#back  {
	float:  right;
	margin-right: 6.25%;
	padding: 4px;
}

